:root {
  --whiteColor: #fff;
  --mainColorLeft: #484289;
  --mainColorRight: #116987;
  --bgButton: #2d8cd3;
  --mainGradient: linear-gradient(122deg, color(var(--mainColorLeft) a(80%)), color(var(--mainColorRight) a(80%)));
}

@custom-media --s (width >= 320px);

@custom-media --m (width >= 800px);

@custom-media --x (width >= 1050px);

@custom-media --xl (width >= 1300px);
