:root {
  --whiteColor: #fff;
  --mainColorLeft: #484289;
  --mainColorRight: #116987;
  --accentColor: #2d8cd3;
  --cardDesc: #787878;
  --cardIcon: #c7c7c7;
  --cardBorder: #eaeaea;
  --borderColor: #cfcfcf;
  --sectionBg: #f6f6f6;
  --headerGradient: linear-gradient(122deg, color(var(--mainColorLeft) a(80%)) 35%, color(var(--mainColorRight) a(78%)) 65%, color(var(--mainColorRight) a(78%)) 0);
  --carouselGradient: linear-gradient(122deg, color(var(--mainColorLeft) a(80%)), color(var(--mainColorRight) a(72%)));
}

@custom-media --s (width >= 320px);

@custom-media --m (width >= 801px);

@custom-media --x (width >= 1050px);

@custom-media --xl (width >= 1300px);
