:root {
  --whiteColor: #fff;
  --mainColorLeft: #484289;
  --mainColorRight: #116987;
  --veryLightGrey: #c7c7c7;
  --accentColor: #2d8cd3;
  --cardDesc: #787878;
  --cardBorder: #eaeaea;
  --sectionBg: #f6f6f6;
  --lightText: #6c6c6c;
  --headerGradient: linear-gradient(122deg, color(var(--mainColorLeft) a(80%)) 35%, color(var(--mainColorRight) a(78%)) 65%, color(var(--mainColorRight) a(78%)) 0);
  --gradient: linear-gradient(122deg, color(var(--mainColorLeft) a(80%)), color(var(--mainColorRight) a(72%)));
}

@custom-media --320 (width >= 320px);

@custom-media --500 (width >= 500px);

@custom-media --800 (width >= 801px);

@custom-media --1050 (width >= 1050px);

@custom-media --1300 (width >= 1300px);
