//- block append templates
//-   template#app-picture
//-     picture.app-picture
//-       source(
//-         :srcset=`path + img + 'xl.jpg, '
//-           + path + img + 'xl@2.jpg 2x, '
//-           + path + img + 'xl@3.jpg 3x'`,
//-         media='(min-width: 1300px)'
//-       )
//-       source(
//-         :srcset=`path + img + '.jpg, '
//-           + path + img + '@2.jpg 2x, '
//-           + path + img + '@3.jpg 3x'`,
//-       )
//-       img(
//-         :src=`path + img + '.jpg'`
//-         alt=''
//-       ).app-picture__img


block append templates
  template#app-picture
    picture.app-picture
      template(v-for='w in img.widht')
        source(
          :srcset=`path + img.name + '_' + w + '.jpg'`,
          :media=`'(min-width: ' + w + 'px)'`
        )
      img(
        :src=`path + img.name + '.jpg'`
        alt=''
      ).app-picture__img
