.menu-toggle {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  padding: .3em .7em;
  border: 1px solid currentColor;
  border-radius: 0;
  background-color: var(--buttonColor);
  color: var(--whiteColor);
  font-weight: 600;
  font-size: .813em;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  appearance: none;
}

.menu-toggle--close {
  color: transparent;
}

.menu-toggle--close::before,
.menu-toggle--close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 50%;
  height: .2em;
  background-color: var(--whiteColor);
  content: '';
}

.menu-toggle--close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-toggle--close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
