block append templates
  template#menu-toggle
    button(
      type='button',
      @click='menuShow = !menuShow',
      :class='{"menu-toggle--close": !menuShow }'
      ).menu-toggle
      | {{buttonText}}

mixin menu-toggle()
  menu-toggle(button-text='Menu')&attributes(attributes)
