.menu-toggle {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  padding: .357em .714em;
  border: 1px solid currentColor;
  border-radius: 0;
  background-color: var(--bgButton);
  color: var(--whiteColor);
  font-size: .875em;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  appearance: none;
}

.menu-toggle--close {
  color: transparent;
}

.menu-toggle--close::before,
.menu-toggle--close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 80%;
  height: 5px;
  background-color: #fff;
  content: '';
}

.menu-toggle--close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-toggle--close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media (--m) {
  .menu-toggle {
    display: none;
  }
}
