.page {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

@media (--1300) {
  .page {
    font-size: 1.2377vw;
  }
}
