/* section--latest-posts */

.section--latest-posts {
  padding-top: 6.1586vw;
  background-color: var(--sectionBg);
}

.section--latest-posts .section__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 3.8491vw;
  background-color: tan;
}

/* section--categories */

.section--categories {
  min-height: 30.313em; /* 485/16 */
  box-sizing: border-box;
  padding-top: 3.75em; /* 60/16 */
  /* background-image: url(../images/bg-categories_1920.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section--categories .section__body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding-top: 3.375em; /* 54/16 */
}

/* section--posts-lists */

.section--posts-lists {
  background-color: tan;
}

/* section--subscription */

.section--subscription {
  background-color: gold;
}

@media (--500) {
  .section--categories .section__body {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (--800) {
  .section--categories .section__body {
    justify-content: space-between;
  }
}

@media (--1050) {
  .section--latest-posts .section__body {
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    max-height: 66.563em;
    width: 100%;
    background-color: seagreen;
  }
}
