/* section--latest-posts */

.section--latest-posts {
  padding-top: 6.1586vw;
  background-color: var(--sectionBg);
}

.section--latest-posts .section__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 3.8491vw;
  background-color: tan;
}

/* section--categories */

.section--categories {
  box-sizing: border-box;
  padding-top: 4.6154vw;
  padding-bottom: 6.4615vw;
  background-image: var(--gradient), url(../images/bg-categories_320.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section--categories .section__body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding-top: 3.375em; /* 54/16 */
}

/* section--posts-lists */

.section--posts-lists {
  background-color: tan;
}

/* section--subscription */

.section--subscription {
  background-color: gold;
}

@media (--500) {
  .section--categories .section__body {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (--800) {
  .section--categories .section__body {
    justify-content: space-between;
  }
}

@media (--1050) {
  .section--latest-posts .section__body {
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    max-height: 66.563em;
    width: 100%;
    background-color: seagreen;
  }
}

@each $i1, $i2, $i3 in (500, 800, 1050, 1920), (1000, 1600, 2100, 3840), (1500, 2400, 3150, 5760) {

  @media (width >= $(i1)px) {
    .section--categories {
      background-image: var(--gradient), url('../images/bg-categories_$(i1).jpg');
    }
  }

  @media (width >= $(i1)px) and (min-resolution: 2dppx) {
    .section--categories {
      background-image: var(--gradient), url('../images/bg-categories_$(i2)@2x.jpg');
    }
  }

  @media (width >= $(i1)px) and (min-resolution: 3dppx) {
    .section--categories {
      background-image: var(--gradient), url('../images/bg-categories_$(i3)@3x.jpg');
    }
  }
}
