/* section--latest-posts */

.section--latest-posts {
  padding-top: 6.1586vw;
  background-color: var(--sectionBg);
}

.section--latest-posts .section__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 3.8491vw;
  background-color: tan;
}

/* section--categories */

.section--categories {
  background-color: dodgerblue;
}

/* section--posts-lists */

.section--posts-lists {
  background-color: tan;
}

/* section--subscription */

.section--subscription {
  background-color: gold;
}

@media (--x) {
  .section--latest-posts .section__body {
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    max-height: 66.563em;
    width: 100%;
    background-color: seagreen;
  }
}
