.subscribe__field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3vw;
  padding-left: 3vw;

  @media (--800) {
    max-width: 58.4615%;
    padding: 0;
  }
}

.subscribe__email,
.subscribe__submit {
  display: block;
  width: 100%;
  height: 3.5em; /* 42/12 */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: .833em; /* 10/12 */
  background-color: var(--whiteColor);
  color: var(--cardDesc);
  text-transform: uppercase;
  font-size: .75em; /* 12/16 */
  font-family: 'Open Sans', sans-serif;
  line-height: 3.5em; /* 42/12 */
  appearance: none;
}

.subscribe__email {
  box-sizing: border-box;
  margin-bottom: 1em;
  padding-right: 1.5em; /* 18/12 */
  padding-left: 1.5em; /* 18/12 */
  text-align: center;

  @media (--1050) {
    max-width: 77.6316%;
    text-align: left;
  }
}

.subscribe__email::placeholder {
  font-style: italic;
}

.subscribe__submit {
  background-color: var(--actionButton);
  color: var(--whiteColor);
  font-weight: 700;
  cursor: pointer;
  transition: background-color .2s;

  &:hover {
    background-color: color(var(--actionButton) s(+10%));
  }

  @media (--1050) {
    max-width: 20.3947%;
  }
}
