block append templates
  template#subscribe
    form.subscribe(action='#', method='post')
      .subscribe__field
        input.subscribe__email(type="email", placeholder="Please enter your email", required)
        input.subscribe__submit(type="submit", value="Subscribe now")
