include ../app-icon/app-icon
include ../carousel/carousel
include ../carousel-item/carousel-item
include ../card/card
include ../app-picture/app-picture
include ../app-button/app-button
include ../latest-posts/latest-posts

mixin main()
  main.main&attributes(attributes)
    carousel(v-if='windowWidth > 800')
      carousel-item(v-for='(slide, index) in carouselContent') 
        card(:class='"card--" + slide.position')
          template(slot='card-image')
            app-picture(:img='slide.img + (index + 1)')
          template(slot='card-tag') {{slide.category}}
          template(slot='card-title') {{slide.title}}
          template(slot='card-desc') {{slide.desc}}
          //- app-button(slot='card-buttons', :hide=false) foo
          //-   app-icon(slot='app-button-icon', name='thumb', :w=6, :h=2)
          //- app-button(slot='card-buttons', :hide=false) bar
          //-   app-icon(slot='app-button-icon', name='thumb', :w=6, :h=2)
    +latest-posts()
