include ../icon/icon
include ../carousel/carousel
include ../carousel-item/carousel-item
include ../card/card
include ../app-picture/app-picture
include ../app-button/app-button
include ../app-section/app-section

mixin main()
  main.main&attributes(attributes)
    carousel(v-if='windowWidth > 800')
      carousel-item(v-for='slide in carouselContent', :key='slide.title') 
        card(
          :class='"card--" + slide.type',
          :buttons='"read-more"'
          )
          .card__image(slot='card-image')
            app-picture(:img='slide.img')
          template(slot='card-tag') {{slide.category}}
          h4.card__title(slot='card-title') {{slide.title}}
          p.card__desc(slot='card-desc') {{slide.desc}}
          .card__button-group(slot='card-buttons')
            app-button(slot='card-buttons', :hide-text='false').card__button.card__button-read-more
              | Read More
              template(slot='app-button-icon')
                +icon('arrow2', 14, 10).card__icon

    //- section--latest-posts
    app-section(:title='true').section--latest-posts
      template(slot='header')
        app-section-title(:title='"latest posts"')
      template(slot='body')
        template(v-for='(post, i) in latestPosts') 
          card(
            :class='[ "card--" + post.type, { "card--short": (windowWidth > 1050) && reorderClass(i) } ]', 
            :buttons='"all"',
            :style='{ order: (windowWidth > 1050) ? reorderItem(i, latestPosts.length) : "" }'
            )
            .card__image(slot='card-image')
              app-picture(:img='post.img')
            template(slot='card-tag') {{post.category}}
            h4.card__title(slot='card-title') {{post.title}}
            p.card__desc(slot='card-desc') {{post.desc}}
            .card__button-group(slot='card-buttons')
              app-button(slot='card-buttons').card__button.card__button-like
                | Like
                template(slot='app-button-icon')
                  +icon('thumb', 73, 66).card__icon
              app-button(slot='card-buttons').card__button.card__button-comment
                | Comments
                template(slot='app-button-icon')
                  +icon('bubble', 82, 72).card__icon
              app-button(slot='card-buttons').card__button.card__button-read-more
                | Read More
                template(slot='app-button-icon')
                  +icon('arrow2', 14, 10).card__icon

    //- section--categories
    app-section(:title='true').section--categories
      template(slot='header')
        app-section-title(:title='"categories"')
      template(slot='body')
        template(v-for='categorie in categoriesList') 
          card(
            :class='[ "card--" + categorie.type ]',
            :buttons='false',
            )
            .card__image(slot='card-image')
              app-picture(:img='categorie.img')
            template(slot='card-tag') {{categorie.category}}

    app-section.section--posts-lists
      template(slot='body')
        span posts list
    app-section(:title='true').section--subscription
      template(slot='header')
        app-section-title(
          :title='"subscribe and stay in touch"',
          :nobg='true').section-title--simple
      template(slot='body')
        span subscribe
