include ../icon/icon
include ../carousel/carousel
include ../carousel-item/carousel-item
include ../card/card
include ../app-picture/app-picture
include ../app-button/app-button
include ../app-section/app-section

mixin main()
  main.main&attributes(attributes)
    carousel(v-if='windowWidth > 800')
      carousel-item(v-for='(slide, index) in carouselContent') 
        card(:class='"card--" + slide.position')
          template(slot='card-image')
            app-picture(:img='slide.img + (index + 1)')
          template(slot='card-tag') {{slide.category}}
          template(slot='card-title') {{slide.title}}
          template(slot='card-desc') {{slide.desc}}
    app-section(:title='true').section--latest-posts
      template(slot='header')
        app-section-title(:title='"latest posts"')
      template(slot='body')
        template(v-for='(post, i) in latestPosts') 
          card(
            :class='[ "card--" + post.position, { "card--short": (windowWidth > 1050) && reorderClass(i) } ]', 
            :buttons='true',
            :style='{ order: (windowWidth > 1050) ? reorderItem(i, latestPosts.length) : "" }'
            )
            template(slot='card-image')
              app-picture(:img='post.img + (i + 1)')
            template(slot='card-tag') {{post.category}}
            template(slot='card-title') {{post.title}}
            template(slot='card-desc') {{post.desc}}

    app-section(:title='true').section--categories
      template(slot='header')
        app-section-title(:title='"categories"')
      template(slot='body')
        span categories
    app-section.section--posts-lists
      template(slot='body')
        span posts list
    app-section(:title='true').section--subscription
      template(slot='header')
        app-section-title(
          :title='"subscribe and stay in touch"',
          :nobg='true').section-title--simple
      template(slot='body')
        span subscribe
