.footer {
  padding-top: 4.125em; /* 66/16 */
  background-color: pink;

  &__top {
    background-color: skyblue;
  }

  &__bottom {
    background-color: tan;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    width: var(--col3);
    background-color: darkslateblue;
  }

  &__logo {
    display: block;
    width: 39.7059%; /* 135/16 */
    margin-bottom: 2.5em; /* 40/16 */
  }

  &__text {
    margin-top: 0;
    margin-bottom: 2.143em; /* 30/14 */
    color: var(--calmColor);
    font-size: .875em; /* 14/16 */
  }

  &__contact-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      margin-bottom: 1.429em; /* 20/14 */
      color: var(--calmColor);
      font-size: .875em; /* 14/16 */
    }
  }

  &__social-button-list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: .375em; /* 6/16 */
    list-style: none;
  }

  &__social-button-item {
    width: 1em;
    color: var(--calmColor);
    transition: color .2s;

    & + & {
      margin-right: .5em;
      margin-left: .5em;
    }

    &:hover {
      color: color(var(--calmColor) l(+20%));
    }
  }
}
