include ../container/container
include ../app-list/app-list
include ../icon/icon
include ../app-contact/app-contact
include ../app-social-button/app-social-button

mixin footer()
  footer.footer&attributes(attributes)
    .footer__top
      +container()
        .footer__wrap
          .footer__col
            a.footer__logo(href='index.html', aria-label='Journal')
              app-icon(:name='"logo"', :width='170.19516', :height='25.436251')
            p.footer__text It took just as much effort to get back to where he had been earlier, but when he lay there sighing, and was once more watching his legs as they struggled against each other even harder than before.
            ul.footer__contact-list
              li.footer__contact-list-item
                app-contact(:type='"place"', :contact='"Address: 121 First Street, <br> Anytown, CA&nbsp;1244&nbsp;USA."')
              li.footer__contact-list-item
                app-contact(:type='"phone"', :contact='"(800) 0456 4567 890"')
              li.footer__contact-list-item
                app-contact(:type='"email"', :contact='"info@journalblog.com"')
            ul.footer__social-button-list
              li.footer__social-button-item(v-for='button in socialButtons')
                app-social-button(:icon='button.icon', :link='button.link')
          .footer__col
            app-list.app-list--light(:title='"Recent posts"', :items='recentPosts')
          .footer__col
            app-list.app-list--light(:title='"instagram"')
    .footer__bottom
      +container()
        span footer bottom
