.footer {
  padding-top: 4.125em; /* 66/16 */
  background-color: pink;

  &__top {
    background-color: skyblue;
  }

  &__bottom {
    background-color: tan;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    width: var(--col3);
    background-color: darkslateblue;
  }

  &__logo {
    display: block;
    width: 39.7059%; /* 135/16 */
  }

  &__text {
    margin: 0;
    color: var(--calmText);
    font-size: .875em; /* 14/16 */
  }
}
