block append templates
  template#component1
    .component1-temp
      ul.component1-temp__list
        li.component1-temp__item item 1
        li.component1-temp__item item 2
        li.component1-temp__item item 3

mixin component1()
  .component1&attributes(attributes)
    p component1
    component1
