.card--horizontal {
  box-shadow: 0 0 3.125em .313em rgba(0, 0, 0, .35);
}

.card--horizontal .card__image {
  border-top-left-radius: .625em;
  border-bottom-left-radius: .625em;
}

.card--horizontal .card__body {
  padding-top: 2.688em;
  padding-right: 1.563em;
  padding-bottom: 1.563em;
  padding-left: 1.563em;
  border-top-right-radius: .625em;
  border-bottom-right-radius: .625em;
}
