.card--categorie {
  position: relative;
  display: block;
  width: 75%;
  height: 49.375vw;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 10vw;
  border-radius: .563em; /* 9/16 */
  box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, .32); /* 20/16 */
  font-size: .875em; /* 14/16 */
}

.card--categorie .card__image,
.card--categorie .card__body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card--categorie .card__body {
  background: none;
  background-image: linear-gradient(transparent 75%, rgba(0, 0, 0, .5));
}

.card--categorie .card__tag {
  top: auto;
  bottom: .7em; /* 14/20 */
  z-index: 3;
  width: auto;
  height: auto;
  padding-right: 1em; /* 20/20 */
  text-align: right;
  font-weight: 700;
  font-size: 1.25em; /* 20/16 */
  transform: none;
}

.card--categorie .card__tag span {
  position: static;
  top: 0;
  left: 0;
  transform: none;
}

.card--categorie .card__tag-bg {
  display: none;
}

@media (--500) {
  .card--categorie {
    width: 42%;
    height: auto;
    margin: 3vw;
  }

  .card--categorie::before {
    display: block;
    padding-bottom: 65.8333%;
    content: '';
  }
}

@media (--800) {
  .card--categorie {
    flex: initial;
    width: 28.4615vw;
    height: 18.7692vw;
    margin: 0;
    font-size: 1em;
  }

  .card--categorie::before {
    display: none;
  }
}
