.card {
  display: flex;
  width: 44.375em;
  height: 16.563em;
  border-radius: .625em;
  background-color: #fff;
  box-shadow: 0 0 3.125em .313em rgba(0, 0, 0, .35);
}

.card__image {
  overflow: hidden;
  min-width: 18.75em;
  width: auto;
  border-top-left-radius: .625em;
  border-bottom-left-radius: .625em;
  background-image: url(http://satyr.io/300x264/1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card__body {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 2.688em;
  padding-right: 1.563em;
  padding-bottom: 1.563em;
  padding-left: 1.563em;
  width: 100%;
  text-align: center;
}

.card__tag {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  width: 14.462em;
  height: 2.462em;
  color: var(--whiteColor);
  text-transform: uppercase;
  font-weight: 600;
  font-size: .813em;
  transform: translateY(-50%);
}

.card__tag-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 14.462em;
  fill: var(--accentColor);
}

.card__tag span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.card__title {
  overflow: hidden;
  margin: 0;
  margin-bottom: .75em;
  max-height: 3.6em;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.8;
}

.card__desc {
  overflow: hidden;
  margin: 0;
  max-height: 6.6em;
  color: var(--cardDesc);
  font-size: .875em;
  line-height: 2.2;
}

.card__button-group {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.card__button {
  padding-right: 1.667em;
  padding-left: 1.667em;
  height: 3.333em;
  border: 1px solid var(--accentColor);
  background: none;
  color: var(--accentColor);
  text-transform: uppercase;
  font-size: .75em;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.card__button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon {
  display: block;
  margin-left: .583em;
  width: 1.167em;
  fill: var(--accentColor);
}

@media (--xl) {
  .card {
    width: 54.6154vw;
    height: 20.377vw;
  }

  .card__image {
    min-width: 23.0769vw;
  }
}
