include ../icon/icon

block append templates
  template#card
    article.card
      .card__image
        slot(name='card-image')
      .card__body
        .card__tag
          +icon('tag', 256, 44).card__tag-bg
          span
            slot(name='card-tag')
        h4.card__title
          slot(name='card-title')
        p.card__desc
          slot(name='card-desc')
        .card__button-group
          template(v-if='buttons')
            button(type='button').card__button.card__button-like
              i.card__button-wrap
                | click
                +icon('thumb', 73, 66).card__icon
            button(type='button').card__button.card__button-comment
              i.card__button-wrap
                | click
                +icon('bubble', 82, 72).card__icon
          button(type='button').card__button.card__button-read-more
            i.card__button-wrap
              | Read More
              +icon('arrow2', 14, 10).card__icon
