block append templates
  template#card
    article.card
      slot(name='card-image')
      .card__body
        .card__tag
          app-icon(:name='"tag"', :width='256', height='44').card__tag-bg
          span
            slot(name='card-tag')
        slot(name='card-title')
        slot(name='card-desc')
        slot(name='card-buttons')
