.card--vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  margin-bottom: 1em;
  max-height: none;
  width: 20.7852vw;
  height: 100%;
  box-shadow: 0 0 .182em .006em rgba(0, 0, 0, .32);
}

.card--vertical .card__image {
  min-height: 16.4742vw;
  border-top-left-radius: .625em;
  border-top-right-radius: .625em;
}

.card--vertical .card__body {
  padding-top: 3.125em;
  border-bottom-right-radius: .625em;
  border-bottom-left-radius: .625em;
}

.card--vertical .card__title {
  padding-right: .75em;
  padding-left: .75em;
}

.card--vertical .card__desc {
  padding-right: 1.071em;
  padding-left: 1.071em;
}

.card--vertical .card__button-group {
  min-height: 3.312vw;
  width: 100%;
  border-top: .063em solid var(--cardBorder);
}

.card--vertical .card__button {
  width: 100%;
  border-right: .063em solid var(--cardBorder);
}

.card--vertical .card__button:last-child {
  border-right: none;
}

.card--vertical .card__icon {
  width: 1.25em;
  fill: var(--veryLightGrey);
}
