block append templates
  template#card
    article.card
      .card__image
        slot(name='card-image')
      .card__body
        .card__tag
          +icon('tag', 256, 44).card__tag-bg
          span
            slot(name='card-tag')
        h4.card__title
          slot(name='card-title')
        p.card__desc
          slot(name='card-desc')
        .card__button-group
          template(v-if='buttons')
            app-button(slot='card-buttons', :hide='true').card__button.card__button-like
              | Like
              template(slot='app-button-icon')
                +icon('thumb', 73, 66).card__icon
            app-button(slot='card-buttons', :hide='true').card__button.card__button-comment
              | Comments
              template(slot='app-button-icon')
                +icon('bubble', 82, 72).card__icon
          app-button(slot='card-buttons', :hide='buttons').card__button.card__button-read-more
            | Read More
            template(slot='app-button-icon')
              +icon('arrow2', 14, 10).card__icon
