.card {
  display: flex;
  width: 54.6154vw;
  height: 20.377vw;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, .35);
}

.card__image {
  overflow: hidden;
  min-width: 23.0769vw;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: url(http://satyr.io/300x264/1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card__body {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 43px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  background-color: skyblue;
  text-align: center;
}

.card__tag {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  width: 14.462em;
  height: 2.462em;
  color: var(--whiteColor);
  text-transform: uppercase;
  font-weight: 600;
  font-size: .813em;
  transform: translateY(-50%);
}

.card__tag-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 14.462em;
  fill: var(--accentColor);
}

.card__tag span {
  position: absolute;
  z-index: 2;
}

.card__title {
  margin: 0;
  margin-bottom: .75em; /* 15/20 */
  background-color: gold;
  font-weight: 600;
  font-size: 1.25em; /* 20/16 */
}

.card__desc {
  margin: 0;
  background-color: lime;
  color: var(--cardDesc);
  font-size: .875em; /* 14/16 */
  line-height: 2.2;
}

.card__button-group {
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: pink;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1.667em; /* 20/12 */
  padding-left: 1.667em; /* 20/12 */
  height: 3.333em; /* 40/12 */
  border: 1px solid var(--accentColor);
  background: none;
  color: var(--accentColor);
  text-transform: uppercase;
  font-size: .75em; /* 12/16 */
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.card__icon {
  display: block;
  margin-left: 7px;
  width: 14px;
  fill: var(--accentColor);
}
