include ../icon/icon

block append templates
  template#card
    article.card
      .card__image
        slot(name='card-image')
      .card__body
        .card__tag
          +icon('tag', 188, 32).card__tag-bg
          span
            slot(name='card-tag')
        h4.card__title
          slot(name='card-title')
        p.card__desc
          slot(name='card-desc')
        .card__button-group
          button(type='button').card__button 
            div.card__button-wrap
              | Read More
              +icon('arrow2', 14, 10).card__icon
