.card {
  display: flex;
  justify-content: center;
  max-height: 16.563em;
  width: 44.375em;
  border-radius: .625em;
}

.card__image {
  overflow: hidden;
  max-width: 18.75em;
  width: 100%;
}

.card__body {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--whiteColor);
  text-align: center;
}

.card__tag {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  width: 14.462em;
  height: 2.462em;
  color: var(--whiteColor);
  text-transform: uppercase;
  font-weight: 600;
  font-size: .813em;
  transform: translateY(-50%);
}

.card__tag-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 14.462em;
  fill: var(--accentColor);
}

.card__tag span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.card__title {
  overflow: hidden;
  margin: 0;
  margin-bottom: .75em;
  font-weight: 600;
}

.card__desc {
  overflow: hidden;
  margin: 0;
  max-height: 6.6em;
  color: var(--cardDesc);
  font-size: .875em;
  line-height: 2.2;
}

.card__button-group {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.card__button {
  text-transform: uppercase;
}

.card__icon {
  display: block;
}

@media (--xl) {
  .card {
    width: 54.6154vw;
    height: 20.377vw;
  }

  .card__image {
    min-width: 23.0769vw;
  }
}
