include ../icon/icon

block append templates
  template#card
    article.card
      .card__image
      .card__body
        .card__tag
          +icon('tag', 188, 32).card__tag-bg
          span travel
        h4.card__title Best things to do while traveling
        p.card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid doloribus repellendus repudiandae atque nulla corporis libero vero at, voluptate assumenda.
        .card__button-group
          button(type='button').card__button Read More
            +icon('arrow2', 14, 10).card__icon
