block append templates
  template#card
    article.card
      //- .card__image
      //-   slot(name='card-image')
      slot(name='card-image')
      .card__body
        .card__tag
          +icon('tag', 256, 44).card__tag-bg
          span
            slot(name='card-tag')
        slot(name='card-title')
        slot(name='card-desc')
        slot(name='card-buttons')
