.card--vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 14.375em; /* 230/16 */
  max-height: none;
  width: 20.7852vw;
  height: 100%;
  overflow: hidden;
  margin: .6em;
  box-shadow: 0 0 .182em .006em rgba(0, 0, 0, .32);
  font-size: .875em; /* 14/16 */
}

.card--vertical .card__image {
  min-height: 182px;
  height: 16.4742vw;
  border-top-left-radius: .625em;
  border-top-right-radius: .625em;
}

.card--vertical .card__body {
  padding-top: 2.5em;
  border-bottom-right-radius: .625em;
  border-bottom-left-radius: .625em;
}

.card--vertical .card__title {
  max-height: 3.5em;
  padding-right: 2.188em;
  padding-left: 2.188em;
  font-size: 1em;
  line-height: 1.8;
}

.card--vertical .card__desc {
  height: 8em;
  margin-bottom: 1.429em;
  padding-right: 1.071em;
  padding-left: 1.071em;
  line-height: 2;
}

.card--vertical .card__button-group {
  min-height: 2.688em;
  width: 100%;
  border-top: .063em solid var(--cardBorder);
}

.card--vertical .card__button {
  width: 100%;
  border-right: .063em solid var(--cardBorder);
}

.card--vertical .card__button:last-child {
  border-right: none;
}

.card--vertical .card__icon {
  width: 1.25em;
  fill: var(--veryLightGrey);
}

/* card--short */

.card--short .card__image {
  min-height: 11.5em;
  height: 14.1647vw;
}

.card--short .card__desc {
  height: 6em;
}

@media (--1050) {
  .card--vertical {
    margin: 0;
    margin-bottom: 1.75em;
    font-size: 1em;
  }
}
