.carousel-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  background-color: dodgerblue;
  color: #fff;
  transform: translate(-50%, -50%);
}

/* carousel-item-right */

.carousel-item-right-enter-active {
  animation: carouseRightlIn .5s;
}

.carousel-item-right-leave-active {
  animation: carouselRightOut .5s;
}

@keyframes carouseRightlIn {
  from {
    opacity: 0;
    transform: translate(0, -50%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes carouselRightOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  to {
    opacity: 0;
    transform: translate(-100%, -50%);
  }
}

/* carousel-item-left */

.carousel-item-left-enter-active {
  animation: carouseLeftlIn .5s;
}

.carousel-item-left-leave-active {
  animation: carouselLefttOut .5s;
}

@keyframes carouseLeftlIn {
  from {
    opacity: 0;
    transform: translate(-100%, -50%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes carouselLefttOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  to {
    opacity: 0;
    transform: translate(0, -50%);
  }
}
