.latest-posts {
  padding-top: 5em;
  background-color: var(--sectionBg);
}

.latest-posts__body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 3em;
  height: 900px;
  background-color: seagreen;
}
