.post-list__header {
  margin-bottom: .875em; /* 14/16 */
  padding-bottom: .375em; /* 6/16 */
  border-bottom: 1px solid var(--veryLightGrey);
}

.post-list__title,
.post-list__item-title {
  margin: 0;
  color: #000;
  line-height: 1.8;
}

.post-list__title {
  text-transform: uppercase;
  font-size: 1em;
}

.post-list__item {
  padding-bottom: 1.688em; /* 27/16 */
}

.post-list__item-title {
  font-weight: 600;
  font-size: .875em; /* 14/16 */
}

.post-list__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-list__item-date {
  color: var(--lightText);
  font-weight: 300;
  font-style: italic;
  font-size: .875em; /* 14/16 */
  line-height: 1.3;
}
