.carousel {
  width: 100%;
  height: 44vw;
  background-image: var(--carouselGradient), url(../images/bg-carousel.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
