.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 3em;
  width: 100%;
  height: 44vw;
  background-image: var(--carouselGradient), url(../images/bg-carousel.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-resolution: 2dppx) {
  .carousel {
    background-image: var(--carouselGradient), url(../images/bg-carousel@2.jpg);
  }
}

@media (min-resolution: 3dppx) {
  .carousel {
    background-image: var(--carouselGradient), url(../images/bg-carousel@3.jpg);
  }
}

@media (--xl) {
  .carousel {
    background-image: var(--carouselGradient), url(../images/bg-carousel-xl.jpg);
  }
}

@media (--xl) and (min-resolution: 2dppx) {
  .carousel {
    background-image: var(--carouselGradient), url(../images/bg-carousel-xl@2.jpg);
  }
}

@media (--xl) and (min-resolution: 3dppx) {
  .carousel {
    background-image: var(--carouselGradient), url(../images/bg-carousel-xl@3.jpg);
  }
}

/* carousel__controls */

.carousel__controls {
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  width: 4.5rem;
  height: 4.5rem;
  border: none;
  background-color: var(--whiteColor);
  cursor: pointer;
  appearance: none;
}

.carousel__controls-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__controls--prev {
  left: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: translate(-50%, -50%);
  animation-name: controlsLeftMoveIn;
  animation-duration: .5s;
  animation-fill-mode: backwards;
}

.carousel__controls--prev:hover,
.carousel__controls--prev:focus,
.carousel__controls--prev:active {
  animation-name: controlsLeftMoveOut;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.carousel__controls--next {
  right: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: translate(50%, -50%);
  animation-name: controlsRightMoveIn;
  animation-duration: .5s;
  animation-fill-mode: backwards;
}

.carousel__controls--next:hover,
.carousel__controls--next:focus,
.carousel__controls--next:active {
  animation-name: controlsRightMoveOut;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

@media (--xl) {
  .carousel__controls {
    width: 5.5385vw;
    height: 5.5385vw;
  }
}

@keyframes controlsLeftMoveOut {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-40%, -50%) scale(1.1);
  }
}

@keyframes controlsLeftMoveIn {
  0% {
    transform: translate(-40%, -50%) scale(1.1);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes controlsRightMoveOut {
  0% {
    transform: translate(50%, -50%) scale(1);
  }

  100% {
    transform: translate(40%, -50%) scale(1.1);
  }
}

@keyframes controlsRightMoveIn {
  0% {
    transform: translate(40%, -50%) scale(1.1);
  }

  100% {
    transform: translate(50%, -50%) scale(1);
  }
}

/* carousel__icon */

.carousel__icon {
  display: block;
  width: .75rem;
  stroke: var(--accentColor);
  stroke-width: .125rem;
}

.carousel__icon--prev {
  transform: translateX(100%);
}

.carousel__icon--next {
  transform: translateX(-100%) scaleX(-1);
}

@media (--xl) {
  .carousel__icon {
    width: .9231vw;
  }
}
