.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 3em;
  width: 100%;
  height: 44vw;
  background-image: var(--carouselGradient), url(../images/bg-carousel.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-resolution: 2dppx) {
  .carousel {
    background-image: var(--carouselGradient), url(../images/bg-carousel@2.jpg);
  }
}

@media (min-resolution: 3dppx) {
  .carousel {
    background-image: var(--carouselGradient), url(../images/bg-carousel@3.jpg);
  }
}

@media (--xl) {
  .carousel {
    background-image: var(--carouselGradient), url(../images/bg-carousel-xl.jpg);
  }
}

@media (--xl) and (min-resolution: 2dppx) {
  .carousel {
    background-image: var(--carouselGradient), url(../images/bg-carousel-xl@2.jpg);
  }
}

@media (--xl) and (min-resolution: 3dppx) {
  .carousel {
    background-image: var(--carouselGradient), url(../images/bg-carousel-xl@3.jpg);
  }
}

.carousel__controls {
  position: absolute;
  width: 40px;
  height: 75px;
  background-color: #fff;
  cursor: pointer;
}

.carousel__controls--prev {
  left: 0;
}

.carousel__controls--next {
  right: 0;
}
