include ../header/header
include ../main/main
include ../component1/component1.pug
include ../component2/component2.pug

mixin index()
  +header()
  +main()
  pre {{ $data }}
  +component1()
  +component2('button1').component2-temp--light
  +component2('button2').component2-temp--dark
