include ../header/header
include ../main/main
include ../component1/component1.pug
include ../component2/component2.pug
include ../icon/icon

mixin index()
  +header()
  +main()
  pre {{ $data }}
  p icon here:
  .myicon
    +icon('arrow')
  .myicon3
    +icon('arrow3', 12, 20)
  .myicon4
    +icon('logo')
  +component1()
  +component2('button1').component2-temp--light
  +component2('button2').component2-temp--dark
