mixin menu(list)
  nav(role='navigation').menu&attributes(attributes)
    ul.menu__list
      each i, index in list
        li(style=`order: ${index + 1}`).menu__item
          a(href='#').menu__link= i
