.menu {
  width: 100%;
}

.menu__list {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  padding-top: .2rem;
  padding-bottom: .2rem;
  text-align: center;
}

.menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  max-height: 3.125rem;
  height: 9vh;
  color: var(--whiteColor);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .875em;
  line-height: normal;
}

.menu--hide {
  display: none;
}

.menu--dropdown {
  animation-name: menuDropdown;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;
}

@keyframes menuDropdown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (--800) {
  .menu {
    height: 5.5385vw;
    margin: 0 auto;
  }

  .menu--hide {
    display: block;
  }

  .menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu__item {
    padding-right: 2.1368vw;
    padding-left: 2.1368vw;
  }

  .menu__item:first-child {
    padding-left: 0;
  }

  .menu__item:last-child {
    padding-right: 0;
  }

  .menu__link {
    min-height: 0;
    max-height: none;
    height: auto;
  }
}

@media (--1050) {
  .menu__list::before {
    display: block;
    flex-grow: 1;
    order: 5;
    content: '';
  }
}
