block append templates
  template#main-menu
    nav.menu
      ul.menu__list(role='menu')
        li(
            v-for='(i, index) in items',
            :style='{order: index + 1}',
            role='none'
          ).menu__item
          a(href='#', role='menuitem').menu__link {{ i[0] }}
