.menu {
  width: 100%;
  background-color: seagreen;
}

.menu__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

.menu__item {
  padding-top: .2rem;
  padding-bottom: .2rem;
  text-align: center;
}

.menu__link {
  display: block;
  background-color: coral;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .875em;
}

.menu__link:focus {
  outline: 1px solid red;
}

.menu--hide {
  display: none;
}

.menu--dropdown {
  animation-name: menuDropdown;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;
}

@keyframes menuDropdown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (--m) {
  .menu {
    margin: 0 auto;
    height: 5.5385vw;
    background-color: seagreen;
  }

  .menu--hide {
    display: block;
  }

  .menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
  }

  .menu__item {
    padding-right: 2.1368vw;
    padding-left: 2.1368vw;
  }

  .menu__item:first-child {
    padding-left: 0;
  }

  .menu__item:last-child {
    padding-right: 0;
  }
}

@media (--x) {
  .menu__list::before {
    display: block;
    flex-grow: 1;
    order: 5;
    content: '';
  }
}
