.app-button {
  border: none;
  background: none;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.app-button__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-button__text {
  font-style: normal;
}
