include ../container/container
include ../icon/icon
include ../menu-toggle/menu-toggle
include ../menu/menu

mixin header()
  header.header&attributes(attributes)
    +container()
      .header__wrap
        a(href='index.html', role='banner', tabindex='0', aria-label='Journal').header__logo
          +icon('logo', '170.19516', '25.436251').logo
        .header__menu-toggle
          menu-toggle(button-text='Menu', :class='{"menu-toggle--close": menuShow }')
        .header__menu
          main-menu(v-show='windowWidth > 800 || menuShow')
