.header {
  display: flex;
  flex-wrap: wrap;
  height: 572px;
  background-image: url(https://unsplash.it/1300/572/?image=17);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* box-shadow: 0 10px 0px 5px red; */
}

.header__logo {
  display: block;
  margin: 0 auto;
  width: 5.25rem; /* 84/16 */
  height: 2.75rem; /* 44/16 */
  transition: all .2s ease;
  will-change: transform;
}

.header__menu {
  width: 100%;
  background-image: linear-gradient(122deg, color(var(--mainColorLeft) a(80%)), color(var(--mainColorRight) a(80%)));
}

.header__menu-toggle {
  position: relative;
}

@media (--x) {
  .header__logo {
    margin-bottom: -5.5385vw;
  }
}

@media (--m) {
  .header {
    flex-direction: column;
    width: 100%;
  }

  .header__logo {
    width: 10.5385vw;
    height: 5.5385vw;
  }
}
