.header {
  width: 100%;
  background-image: var(--headerGradient);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 41.58px 12.42px rgba(0, 0, 0, .35);
}

.header__wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.header__logo {
  display: block;
  margin: 0 auto;
  width: 5.25rem;
  height: 2.75rem;
  transition: all .2s ease;
  will-change: transform;
}

.header__menu {
  width: 100%;
}

.header__menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding-top: .5em;
  padding-right: .5em;
  height: 100%;
}

@media (--x) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    width: 100%;
  }

  .header__logo {
    margin-bottom: -5.5385vw;
  }
}

@media (--m) {
  .header__logo {
    width: 10.5385vw;
    height: 5.5385vw;
  }

  .header__menu-toggle {
    display: none;
  }
}
