include ../logo/logo
include ../menu-toggle/menu-toggle
include ../menu/menu

mixin header()
  header.header&attributes(attributes)
    a(href='index.html', role='banner', tabindex='0', aria-label='Journal').header__logo
      +logo-use('logo')
    .header__menu-toggle
      +menu-toggle()
    .header__menu
      //- +menu(getData('menu')).menu--hide
      //- +menu(getData('menu'))
      main-menu(message="hello foo!")
