include ../menu/menu
include ../menu-toggle/menu-toggle
include ../logo/logo

mixin header()
  header.header&attributes(attributes)
    a(href='index.html', role='banner', tabindex='0', aria-label='Journal').header__logo
      +logo-use('logo')
    .header__menu-toggle
      +menu-toggle()
    .header__menu
      +menu(getData('menu')).menu--hide
