.section-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .875em;
}

.section-title::before,
.section-title::after {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--veryLightGrey);
  content: '';
}

.section-title__bg {
  min-width: 16em;
  width: 16em;
  fill: none;
  stroke: var(--veryLightGrey);
  stroke-width: 1px;
}

.section-title__text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: inherit;
  transform: translate(-50%, -50%);
}

/* section-title--simple */

.section-title--simple {
  background-color: pink;
}

.section-title--simple::before,
.section-title--simple::after {
  display: none;
}

.section-title--simple .section-title__text {
  position: static;
  transform: none;
}

@media (--800) {
  .section-title {
    font-size: 1em;
  }
}
