//- mixin icon(iconName, w, h)
//-   svg(viewbox=`0 0 ${w ? w : 1} ${h ? h : 1}`)&attributes(attributes)
//-     use(xlink:href=`#icon-${iconName}`)
//-     block
block append templates
  template#app-icon
    svg(:viewbox=`"0 0 " + w + ' ' + h`)
      use(:xlink:href=`"#icon-" + name`)
